.introImage {
  object-fit: cover;
  width: calc(100% + 56px);
  height: 110%;
  position: absolute;
  z-index: -1;
  left: -28px;
  top: -28px;
  right: 0;
}

.mainContainer {
  padding: 28px;
  overflow: hidden;

  .section:first-of-type {
    position: relative;
  }

  .section:first-of-type::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: -30px;
    bottom: -38px;
    width: 200%;
    height: 150px;
    background: linear-gradient(to bottom, transparent, var(--theme));
    z-index: 0;
  }
}

.heroText {
  font-size: 97px;
  margin-bottom: 54px;
  backdrop-filter: blur(.6px);
}

.subHero {
  font-size: 57px;
  margin-bottom: 34px;
  display: flex;
  align-items: center;
  gap: 6px;
}

// .subHeading {

// }

.skillsWall {
  text-align: center;
  margin: 20px 15px 34px;
  position: relative;
  height: var(--section);
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    font-size: var(--heading5);
    padding: 0 24px;
    backdrop-filter: blur(.6px);
  }
}

.extraSubLink {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  // gap: 0 54px;
  
  .moreAbout, .projects, .resume {
    margin: 20px 15px 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    flex-direction: column;
    font-size: var(--heading4);
    height: var(--section);
  }
}


.customButton {
  align-items: center;
  background-color: #d7d7d7;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.customButton:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.customButton:hover:after {
  transform: translate(0, 0);
}

.customButton:active {
  background-color: #939393;
  outline: 0;
}

.customButton:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .customButton {
    padding: 0 40px;
  }
}

// Styles for mobile screen
@media (max-width: 480px) {
  .mainContainer {
    padding: var(--mobilePagePadding);

    .section:first-of-type::after {
      height: 70px;
      bottom: -15px;
    }
  }

  .heroText {
    font-size: 54px;
    margin-bottom: 34px;
  }  

  .subHero {
    font-size: 28px;
    margin-bottom: 18px;
    // width: 70vw;
  }

  .skillsWall {
    margin: 20px 10px 30px;
    height: 100%;
    padding: 18px 0 18px;
    font-weight: 500;
  }

  .extraSubLink {
    text-align: center;

    .moreAbout, .projects, .resume {
      height: 100%;
      padding: 10px 0 18px;
    }
  }

  .introImage {
    left: -18px;
    top: -18px;
    width: calc(100% + 48px);
  }
}