.heroText {
  font-size: 97px;
  margin-bottom: 54px;
}

.subHero {
  font-size: 57px;
  margin-bottom: 34px;
}

// .subHeading {

// }

.skillsWall {
  text-align: center;
  margin: 20px 15px 34px;
  position: relative;
  height: var(--section);
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    font-size: var(--heading5);
    padding: 0 24px;
  }
}

.moreAbout, .projects {
  margin: 20px 15px 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--heading4);
  height: var(--section);
}