.headerMain {
  // background-color: var(--theme);
  // background: rgb(0,26,40);
  // background: linear-gradient(186deg, rgba(0,26,40,1) 0%, rgba(45,116,173,1) 60%);
  color: black;
  background: rgb(0,26,40);
  background: linear-gradient(185deg, rgba(0,26,40,1) 0%, rgba(248,242,220,1) 55%);
}