.footerMain {
  border-top: 3px solid rgb(43, 43, 43);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin: 24px 0 16px;
  gap: 8px;

  .connect {
    display: flex;
    align-items: center;
    font-size: 19px;
    font-weight: 500;

    a {
      text-decoration: none;
      color: black;
      height: 100%;
      display: flex;
    }

    svg {
      font-size: 22px;
      margin: 0 6px;
    }
  }

  .inline {
    display: flex;
    align-items: center;
    gap: 4px;

    svg {
      font-size: 20px;
      color: red;
    }
  }
}